.mt-35 {
  margin-top: 30vh;
}

.title1 {
  font-family:'Courier New', Courier, monospace
}

.title2 {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
  font-size: 10rem;
}