.card-profile {
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s; */
    padding-top: 130px;
    padding-left: 30px;
    padding-right: 40px;
    width: 30vw;
    height: 100vh;
    justify-content: center;
    /* box-shadow: 4px 0px 0px 0 rgba(0, 0, 0); */
    text-align: center;
    border-right: 1px solid rgba(0, 0, 0, 0.315);
    position: fixed;
    z-index: 2;
}
  
  /* .card-profile:hover {
    box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.2);
} */
  
.icn{
  width: 35px;
  position: fixed;
  top: 15px;
  left: 25px;
}

  .container-date-profile {
    width: 100%;
    padding: 2px 16px;
}
  
  .container-aux {
    width: 100%;
    padding: 2px 16px 10px;
    background: #8e88ff;
  }
  
  .picture-profile {
    position: relative;
    margin: auto;
    width: 200px;
    padding: auto;
  }
  
  .aux {
    position: relative;
    width: 40px;
    height: 40px;
    padding: 4px 4px ;
    margin-left: 10px;
    margin-right: 10px;
  }
  
  .edit-profile{
    width: 200px;
    background: #8699DA;
    border-color: #8699DA;
  }

  .edit-profile:hover{
    background: #8ea2e2;
    border-color: #8699DA;
  }